.todo-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 0;
}

/* formatacao do botao create */
.todo-list .todo-add a{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #2BA84A;
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2BA84A;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}
/* formatacao da cor da transicao do botao create  */
.todo-list .todo-add a:hover{
    background: #2BA84A;
    color: #ffffff
}

/* borda das listagens de TODOs  */
.todo-list article{
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

/* formatacao dos botoes de view cada produto */
.todo-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #324A5F;
    background: none;
    margin-top: 10px;
    color: #324A5F;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
/* formatacao da cor dos botoes de view cada produto  */
.todo-list article a:hover{
    background: #324A5F;
    color: #ffffff
}

/* espacamento para os botoes de avancar e voltar  */
.todo-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* formatacao dos botoes de avancar e voltar  */
.todo-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #324A5F;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* formatacao da visibilidade e do efeito de passar o mouse  */
.todo-list .actions button[disabled]{
    opacity: 0.5;
    cursor: default;
}

.todo-list .actions button:hover{
    opacity: 0.7;
}

.todo-list .actions button[disabled]:hover{
    opacity: 0.5;
}